@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Lexend+Deca:wght@100..900&family=Manjari:wght@100;400;700&family=Notable&display=swap");
@import "tailwindcss";

@theme {
  /*defined custom classes*/
  --font-mango: "Notable", sans-serif;
  --font-manjari: "Manjari";
  --color-highlight: #6e56cf;
  --color-muted: #ededed;
  --color-borderColor: #c9c5c5;
  --color-mainbg: #f5f5ff;
}

@layer {
  body {
    @apply bg-mainbg font-manjari;
  }
}
